<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Listy rzeczy do zrobienia</title>
</head>
<body>
    <h1>Twoja lista rzeczy do zrobienia</h1>
    <form method="POST" action="/lists/new">
        <label for="id_new_item"></label>
        <input name="item_text" id="id_new_item" placeholder="Wpisz rzeczy do zrobienia" />
        {% csrf_token %}
    </form>
    <table id="id_list_table">
        {% for item in items %} <!--dzieki temu dla kazdego idema powstanie wierszw tabeli <tr></tr>-->
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>